 body {
      font-family: Arial, sans-serif;
      text-align: center;
      text-align: justify;
  /* height: 100%; */
  margin: 0;
  padding: 0;

    }
@font-face{
  font-family:BBH Sans Bartle;
src: url(./BBH_Sans_Bartle\,Dancing_Script.zip);
}
div{
text-align: center;
font-family: BBH Sans Bartle;
font-size: 20px;
}
a{
  color: black;
  word-spacing: 9.5px; 
  text-decoration: none solid;
  /* text-transform: capitalize ;
  letter-spacing: 1px;
  font-weight: bolder; */

} 
.container{
  position: absolute;
  right: 0px;
}
button:hover{
  border: 2px solid black;
  background-color:black;
  display: inline-block;
  right: 0px;
  color: aliceblue;

}
.headingsetting{
  position: absolute;
  left: 0px;
  font-size: 25px;


}
span{
    border: 1PX solid black;
    background-color: lightgray;
    line-height: 25PX;
    
}
h2{
font-size: 50px;
}
h3{
font-size: 100px;
color: #898989;
    background: white;
     margin-bottom: 0;

}
.left{
  position:absolute ;
  left: 0px;
word-spacing: 10px;
font-size: 40px;
letter-spacing: 1px;
font-weight: 500;
  margin-top: 5px;

}
.ingmagesetti{
  height: 400px; 
margin-top: -130px;


}
.containerr{
  /* position: relative;
  margin-left: 0px; */
  text-align: justify;
  /* width: 30%;  
   font-size: 18px;
      margin: 20px 0; */
}
.text{
  font-size: xx-large;
  position: absolute;
  left: 0px;
  border-bottom: 2px solid black;
  margin-bottom: px;
}
.textsetting{
  width:25%;
  height: 50px;
  overflow: visible;
  text-align: justify;
}
.center{
  width: 30%;
  position: absolute;
  right: 450px;
  border-bottom: 2px solid black;
}
.uff{
    width: 30%;
  position: absolute;
  right: 450px;
  font-size: x-large;
  font-weight: 900;
 border-bottom: 5px solid black;
}
.wapis{
  width: 30%;
  position: absolute;
  right: 450px;
}
.Right{
  width: 30%;
  position: absolute;
  right: 0px;
  top: 1650px;
}
.start{
  text-align: start;
    position: absolute;
  left: 0px;
width: 30%;
text-align: justify;
font-size: x-large;
}
.start:first-line{
  font-size: 50px;
}
.spansetting{
   text-align: start;
    position: absolute;
  left: 0px
}
.hr{
  border: 2px solid black;
}
footer{
  height: 250px;  
  width: 100%;
  background-color:black;
  bottom: 0;
  left: 0;
  
  
}
.hrr{
    border-bottom: 2px solid white;
}
.Row1{
text-align: left;
text-align: justify;
  word-spacing: 33px;
  font-size: small;
  font-weight: 400;
  background-color: none;
}

.Row2{
text-align: left;
text-align: justify;
  word-spacing: 60px;
  font-size: small;
  font-weight: 400;
}
.Row3{
text-align: left;
text-align: justify;
  word-spacing: 33px;
  font-size: small;
  font-weight: 400;
  background-color: none;
}
.Row4{
  
  text-align: justify;
  word-spacing: 60px;
  font-size: small;
  font-weight: 400;
}
.Dawn{
color: white;
text-align: left;
}